/* Global CSS */

* {
    margin: 0px;
    padding: 0px;
    border: 0px solid red;
    font-family: Lato;
    font-weight: 300;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}
h3{
    font-weight:400;
}

p {

}

strong {
    font-weight: 400;
}

nav {
    float: left;
    margin-top: 80px;
    margin-left: 150px;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 64px;
}

nav a {
    font-size: 1.2em;
    color: #000;
}

nav li:hover {
    border-bottom: 2px solid #000;
}

main {
    width: 100%;
    float: left;
    margin-bottom:150px;
}

section {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

header {
    float: left;
    width: 100%;
    height: 156px;
    border:1px solid black;
}

footer{
    width:100%;
    height:285px;
    border:1px solid black;
    clear:both;
}

/* Sections med indhold */

main section {
    margin-top: 150px;
}


/* Interaktiv hånd */

#hand-background {
    background: url('img/tendo-soft-glove.jpg') no-repeat;
    height: 340px;
    width: 675px;
    margin: 64px auto;
}

#hand-index {
    position: absolute;
    border: 0px solid red;
    height: 30px;
    width: 110px;
    margin-top: 98px;
    margin-left: 6px;
    display: block;
}

#hand-index-info {
    position: absolute;
    margin-top: 30px;
    margin-left: -30px;
    height: 30px;
    width: 110px;
    border: 0px solid red;
}

.hand-info {
    display: none;
}

.hand-link:hover + #hand-index-info {
    /*display: block;*/
}

.hand-link {
    width: 100%;
    height: 100%;
    border: 3px dotted blue;
    display: block;
}

.hand-link:hover {
    border-color: #fff;
}

/* Logo */

#logo {
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

#logo img {
    width: 280px;
}

/* About side Team Tendo */

#team-tendo {
    text-align: center;
}

.employee {
    width: 21%;
    float: left;
    padding: 0px 2%;
}

.employee h2 {
    margin-bottom: 8px;
}

.employee strong {
    font-size: inherit;
    /*color:#ee7e32;*/
}

#employee-wrapper {
    margin-top: 64px;
}

.employee-photo {
    height: 150px;
    width: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-bottom: 16px;
}

.color-overlay {
    display: block;
    background-color: rgba(153, 209, 220, .3);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#sofie-foto {
    background-image: url("img/sofie.png");
}

#robin-foto {
    background-image: url("img/robin.png");
}

#pontus-foto {
    background-image: url("img/pontus.png");
}

#joe-foto {
    background-image: url("img/joe.png");
}

.team-text {
    /*
    float:left;
    text-align: left;
    margin-top:64px;
*/
}

.column {
    border: 0px solid red;
    float: left;
    width: 100%;
    text-align: justify;
    margin-top: 64px !important;
    padding: 0 2%;
}

.column p {
    width: calc(100% / 2 - (1 * 40px));
    float: left;
    margin-right: 40px;

}

.column p:last-child {
    margin-right: 0px;
}

/* Footer CSS */

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #99d1dc;
    color: black;
    font-family: Lato;
    float: left;
    max-height: 500px;
}

.footer-text {
    float: left;
    min-width: 200px;
    min-height: 100px;
    margin-bottom: 50px;
}

.text-container {
    display: block;
    position: relative;
    width: 80%;
    left: 20%;
}

.paragraphfooter {
    padding-bottom: 10px;
}

.wasteofspace {
    width: 100%;
    height: 1500px;
    background-color: grey;
}

#footer-logo {
    width: 300px;
    display: inline-block;

}

.some {
    position: relative;
    display: block;
    width: 50px;
    padding: 5px;
    float: right;
    overflow: hidden;
    right: 20%;
}

.some-text {
    position: relative;
    width: 100px;
    padding: 5px;
    float: right;
    right: 20%;
    font-size: 25px;
    padding-top: 10px;
}

/* About side news */

.news {
    text-align: center;
}

.tv2 {
    width: 20%;
    height: 20%;
    margin: 10px;
}

.udogse {
    width: 20%;
    height: 20%;
    margin: 10px;
}

.moot {
    width: 20%;
    height: 20%;
    margin: 10px;
}

.borsen {
    width: 20%;
    height: 20%;
    margin: 10px;
}

.news {

}
